flows-final.json
[
    {
        "id": "f150d6284999bc37",
        "type": "tab",
        "label": "Fluxo Json",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a548ce97f750720",
        "type": "tab",
        "label": "Fluxo MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "239b16de6714e5e2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb87b49d5236b415",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#009782",
                "baseFont": "Trebuchet MS,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#009782",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#009782",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00e3c4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#009782",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Trebuchet MS,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "SunWise",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "26bfd20877785c38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3fcd5d96d505cc49",
        "type": "ui_tab",
        "name": "Dashboads via slider",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29daf5db7db1ca4c",
        "type": "ui_group",
        "name": "Boas Vindas",
        "tab": "26bfd20877785c38",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "37c5b09848f75509",
        "type": "ui_group",
        "name": "Acompanhamento de Irrigação e Iluminação de Estufa",
        "tab": "3fcd5d96d505cc49",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcf66307dd020989",
        "type": "ui_spacer",
        "z": "f150d6284999bc37",
        "name": "spacer",
        "group": "1b9485f62e11a640",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4b6df9a4a2d8bbc",
        "type": "ui_spacer",
        "z": "f150d6284999bc37",
        "name": "spacer",
        "group": "1b9485f62e11a640",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d164ede7d335046",
        "type": "ui_tab",
        "name": "VIA MQTT",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5764980abc373fbf",
        "type": "ui_group",
        "name": "Gráficos via MQTT",
        "tab": "3d164ede7d335046",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dfa4a634ed142a3",
        "type": "ui_spacer",
        "z": "6a548ce97f750720",
        "name": "spacer",
        "group": "37c5b09848f75509",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "6dbf5e6856e9ee10",
        "type": "ui_spacer",
        "z": "6a548ce97f750720",
        "name": "spacer",
        "group": "37c5b09848f75509",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "1cbfd055ce7ca55e",
        "type": "ui_spacer",
        "z": "6a548ce97f750720",
        "name": "spacer",
        "group": "5764980abc373fbf",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "999551a141408b0b",
        "type": "ui_gauge",
        "z": "f150d6284999bc37",
        "name": "",
        "group": "37c5b09848f75509",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Alerta para taxa de Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#f20707",
            "#e6e600",
            "#72ff14"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "92fbe97f9f6406b1",
        "type": "ui_chart",
        "z": "f150d6284999bc37",
        "name": "",
        "group": "37c5b09848f75509",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Histórico Humidade ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d50789",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "866962765d282648",
        "type": "ui_slider",
        "z": "f150d6284999bc37",
        "name": "",
        "label": "Umidade",
        "tooltip": "",
        "group": "37c5b09848f75509",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "umi",
        "topicType": "global",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "bfab9d747ecf1e2a",
                "999551a141408b0b",
                "92fbe97f9f6406b1",
                "9a48b8e239d68ed8"
            ]
        ]
    },
    {
        "id": "9a48b8e239d68ed8",
        "type": "ui_text",
        "z": "f150d6284999bc37",
        "group": "37c5b09848f75509",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor Umidade: ",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#db0697",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "bfab9d747ecf1e2a",
        "type": "function",
        "z": "f150d6284999bc37",
        "name": "Função de verificar valor",
        "func": "// Variável de umidade\nvar umidade = msg.payload;\n\n// Obtém o horário atual\nvar dataAtual = new Date();\nvar hora = dataAtual.getHours();\nvar minutos = dataAtual.getMinutes();\n\n// Define status de iluminação com base no horário\nvar statusIluminacao;\nif ((hora >= 5 && (hora < 17 || (hora === 17 && minutos <= 30)))) {\n    statusIluminacao = \"Luzes da estufa desligadas\";\n} else {\n    statusIluminacao = \"Luzes da estufa ligadas!\";\n}\n\n// Define status de irrigação com base na umidade\nvar statusIrrigacao;\nif (umidade >= 0 && umidade <= 50) {\n    statusIrrigacao = \"Umidade baixa, válvula liberada. Irrigação em andamento.\";\n} else {\n    statusIrrigacao = \"Umidade certa, válvula fechada. Irrigação parada.\";\n}\n\n// Monta a mensagem final, incluindo o horário e o status da iluminação\nmsg.payload = {\n    statusIrrigacao: statusIrrigacao,\n    horario: dataAtual.toLocaleTimeString('pt-BR'), \n    statusIluminacao: statusIluminacao\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "835ec4d8dec15675",
                "e48b4e63c05c79a4"
            ]
        ]
    },
    {
        "id": "835ec4d8dec15675",
        "type": "ui_text",
        "z": "f150d6284999bc37",
        "group": "37c5b09848f75509",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Irrigação:",
        "format": "{{msg.payload.statusIrrigacao}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "14",
        "color": "#db0697",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "e48b4e63c05c79a4",
        "type": "ui_text",
        "z": "f150d6284999bc37",
        "group": "37c5b09848f75509",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Iluminação:",
        "format": "{{msg.payload.statusIluminacao}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "14",
        "color": "#009582",
        "x": 730,
        "y": 20,
        "wires": []
    },
    {
        "id": "b66447d291a4a0de",
        "type": "ui_template",
        "z": "f150d6284999bc37",
        "group": "29daf5db7db1ca4c",
        "name": "",
        "order": 1,
        "width": 16,
        "height": 16,
        "format": "<div style=\"text-align: center; padding: 40px; border-radius: 12px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; width: 100%;\">\n\n    <!-- Título da página -->\n    <h1 style=\"font-size: 2.5em; color: #009782 !important; margin-bottom: 20px; font-weight: bold;\">\n        SunWise - Irrigação Inteligente para Estufas\n    </h1>\n\n    <!-- Descrição do aplicativo -->\n    <p style=\"font-size: 1.2em; color: #333333 !important; line-height: 1.5; max-width: 800px; margin: 0 auto;\">\n        SunWise é uma solução inovadora para otimizar o sistema de irrigação e iluminação em estufas. Com sensores de umidade e controle automatizado de luz, o SunWise garante que suas plantas recebam o cuidado ideal sem desperdício de água ou energia. Monitorando os níveis de umidade em tempo real e ajustando a iluminação de acordo com o horário, o SunWise promove um cultivo sustentável e eficiente.\n    </p>\n\n    <!-- Destaques adicionais -->\n    <div style=\"text-align: left; padding: 20px; margin-top: 30px; max-width: 800px; margin: 0 auto;\">\n        <h3 style=\"color: #FA5281 !important;\">Principais Funcionalidades:</h3>\n        <ul style=\"font-size: 1.1em; color: #555555 !important; line-height: 1.6; margin-left: 20px;\">\n            <li>Monitoramento em tempo real da umidade do solo para irrigação precisa e eficiente.</li>\n            <li>Monitoramento do estado de iluminação, economizando energia.</li>\n            <li>Gráficos históricos de umidade para acompanhamento do cultivo.</li>\n        </ul>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e3f406a9d7286c9a",
        "type": "mqtt in",
        "z": "6a548ce97f750720",
        "name": "",
        "topic": "testtopic/teste/gabi/oi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "239b16de6714e5e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "4a1a33201b2096e4",
                "f8e5773d46f706c2",
                "0b813ee822476cbe"
            ]
        ]
    },
    {
        "id": "f8e5773d46f706c2",
        "type": "debug",
        "z": "6a548ce97f750720",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "4dd4e77004a5f47d",
        "type": "ui_gauge",
        "z": "6a548ce97f750720",
        "name": "",
        "group": "5764980abc373fbf",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Alerta valor umidade",
        "label": "graus",
        "format": "{{payload}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#e60000",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a1a33201b2096e4",
        "type": "function",
        "z": "6a548ce97f750720",
        "name": "function principal",
        "func": "var status_irrigacao;\nvar status_iluminacao;\n\n// Lógica de Irrigação\nif (msg.payload.umidade >= 0 && msg.payload.umidade <= 50) {\n    status_irrigacao = \"Umidade baixa, válvula liberada. Irrigação em andamento.\";\n} else if (msg.payload.umidade > 50 && msg.payload.umidade <= 100) {\n    status_irrigacao = \"Umidade certa, válvula fechada. Irrigação parada.\";\n}\n\n// Lógica de Iluminação\nif (msg.payload.luminosidade == 4095) {\n    status_iluminacao = \"Luzes da estufa acesas.\";\n} else if (msg.payload.luminosidade == 0) {\n    status_iluminacao = \"Luzes da estufa desligadas.\";\n}\n\n// Enviar as mensagens de status para o dashboard text\nmsg.status = {\n    irrigacao: status_irrigacao,\n    iluminacao: status_iluminacao\n};\n\n// Enviar a umidade para o gauge\nmsg.payload = msg.payload.umidade;  // Enviar só o valor da umidade para o gauge\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "4dd4e77004a5f47d",
                "8fbb47b74f82c481",
                "422d7fea6e99d1ac",
                "48954125793793e0"
            ]
        ]
    },
    {
        "id": "8fbb47b74f82c481",
        "type": "ui_text",
        "z": "6a548ce97f750720",
        "group": "5764980abc373fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Iluminação:",
        "format": "{{status.iluminacao}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "14",
        "color": "#009582",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "422d7fea6e99d1ac",
        "type": "ui_text",
        "z": "6a548ce97f750720",
        "group": "5764980abc373fbf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Irrigação:",
        "format": "{{status.irrigacao}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "14",
        "color": "#db0697",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "0b813ee822476cbe",
        "type": "function",
        "z": "6a548ce97f750720",
        "name": "function - grafico de umidade",
        "func": "// Extrair o valor de umidade\nvar umidade = msg.payload.umidade;\n\n// Enviar apenas o valor da umidade no payload\nmsg.payload = umidade; // Apenas o valor numérico\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 340,
        "wires": [
            [
                "993442c9def0534e"
            ]
        ]
    },
    {
        "id": "993442c9def0534e",
        "type": "ui_chart",
        "z": "6a548ce97f750720",
        "name": "",
        "group": "5764980abc373fbf",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Histórico Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d408a7",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "48954125793793e0",
        "type": "ui_text",
        "z": "6a548ce97f750720",
        "group": "5764980abc373fbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor Umidade: ",
        "format": "{{payload}} %",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#db0697",
        "x": 780,
        "y": 180,
        "wires": []
    }
]